.container-all {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.graph {
  width: 50%;
  padding-right: 20px;
}

.container-body {
  padding-left: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-origemDestino {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-selects {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.container-select {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

select {
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
}

.container-caminho {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.erro {
  color: red;
}

.texto-origem {
  font-size: 24px;
  font-weight: 700;
  color: red;
}

.texto-destino {
  font-size: 24px;
  font-weight: 700;
  color: green;
}
