.container-radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.container-body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-caminho {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.erro {
  color: red;
}

.texto-origem {
  font-size: 24px;
  font-weight: 700;
  color: red;
}

.texto-destino {
  font-size: 24px;
  font-weight: 700;
  color: green;
}
